<%= div_for comment do %>
    <p>
        <!--  Then prints it out in strong emphasized. Uses a rails helper 
        method (time_ago_in_words) that takes when that comment was created
        and converts that to words.  -->
        <!-- <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br /> -->
        Posted <%= time_ago_in_words(comment.created_at) %><br />
        <!-- Dumps out body of the comment -->
        <span id="addedComment"><%= h(comment.body) %></span>
    </p>
<% end %>