// ensure text returned by Ruby is valid JavaScript. hide the entire comment that's created
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
// Find div w/id comments and prepend the new comment that was just created
$('#comments').prepend(new_comment);
// slowly fade in the new comment (comment.id)
$('#comment_<%= @comment.id %>').fadeIn('slow');
// reset the form to allow another comment to be submitted
$('#new_comment')[0].reset();