<div class="breadcrumb"></div>

<div id="contentDiv">
<p id="notice"><%= notice %></p>

<div id="postListHeader">
  <div class="postListTitle">
    <h1>Listing Posts</h1>
  </div>
  <div class="createBtn">
    <%= link_to '+ New Post', new_post_path %>
  </div>
</div>

<table id="postsTable">
  <thead>
    <tr class="tableHeaderRow">
      <th>Title</th>
      <th id="tableHeaderBody">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="tableBodyRow">
        <td class="titleCol"><%= post.title %></td>
        <td class="bodyCol"><%= post.body %></td>
        <td class="linksCol"><%= link_to 'Show', post %></td>
        <td class="linksCol"><%= link_to 'Edit', edit_post_path(post) %></td>
        <td class="linksCol"><span id="destroyBtn"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>

<div class="breadcrumbBtm"></div>