<div class="breadcrumb"></div>

<div id="contentDiv">
<p id="notice"><%= notice %></p>

<div id="postTitle">
  <p class="postHeaderLabel">
    <!-- <span class="postHeaderLabel"> -->
      <!-- <strong>Title:</strong> -->
      Title:
    <!-- </span> -->
    <span class="postTitleText">
      <%= @post.title %>
    </span>
  </p>
</div>

<div id="postBody">
  <p class="postHeaderLabel">
  <!-- <p> -->
    <!-- <strong>Body:</strong> -->
    Body:
    <span class="postBodyText">
     <%= @post.body %>
    </span>
  </p>
</div>
<!-- Modifying view for a post to show its comments -->
<h2>Comments</h2>
<div id="comments">
    <!--  Render all the comments in reverse order so that most recent comments on top -->
    <%= render :partial => @post.comments.reverse %>
</div>

<div id="newCommentForm">
<!-- Add a form for adding new comments on the post page -->
<!-- make sure an Ajax request is being initiated using remote: true  -->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <div id="addCommentTextField">
    <p>
      <!-- Label (text area header) and text area for entering a new comment -->
      <%= f.label :body, "New Comment", :class => "newCommentLabel" %><br />
      <%= f.text_area :body, :class => "newCommentTextField" %>
    </p>
  </div>
  <div id="addCommentBtn">
    <!-- Submit button w/ text "Add Comment" -->
    <p><%= f.submit "Add Comment", :class => "submitBtn" %></p>
  </div>
<% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>

<div class="breadcrumbBtm"></div>