/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    color: #909090;
}

h2 {
    color: #676767;
}

.breadcrumb {
    width: 100%;
    height: 20px;
    /*margin-top: 0;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #777;
}

.breadcrumbBtm {
    width: 100%;
    height: 30px;
    /*margin-top: 0;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #aecd37;
}

.contentDiv {
    margin: auto;
    width: 1300px;
    /*background-color: #aecd38;*/
}


/* Table */

#tableHeaderBody {
    text-align: left;
}

#postsTable {
    /*background-color: #aecd37;*/
    margin:auto;
    display:block;
    width:1000px;
    height: min-height;
}

tr.tableHeaderRow {
    height: 50px;
    /*background-color: #999;*/
}

tr.tableBodyRow {
    height: 37px;
}

td {
    font-size: 15px;
    vertical-align: text-top;
    /*background-color: #FFFFFF;*/
}

td.titleCol {
    width: 300px;
    text-align: center;
}

td.bodyCol {
    width: 600px;
    line-height: 25px;
    /*background-color: #ccc;*/
}

td.linksCol {
    width: 50px;
    vertical-align: text-top;
    text-align: center;
}

#destroyBtn a:hover{
    color: #89121E;
}


#postListHeader{
    margin: 0 auto;
    /*display: inline-block;*/
    /*position: relative;*/
    /*background-color: #aecd37;*/
    width: 1000px;
}

.postListTitle{
    width: 800px;
    height: 40px;
    float: left;
    text-align: left;
    /*padding-left: 60px;*/
    /*background-color: #ccc;*/
}

.createBtn {
    position: relative;
    bottom: 0;
    width: 200px;
    height: 40px;
    float: left;
    border-width: 1px;
    border-bottom: #F0F0F0;
    border-bottom-style: solid;
    /*text-align: right;*/
    /*vertical-align: text-bottom;*/
    /*background-color: #333;*/
}

.createBtn a{
    position: absolute;
    bottom: 0;
    margin-left: 105px;
    /*width: 100px;*/
    /*height: 20px;*/
    color: #86bd38;
    /*background-color: #333;*/
    font-size: 15px;
    font-weight: 300;
    
}