// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#postTitle {
    /*display: table-cell;*/
    display: inline-block;
    position: relative;
    width: 1300px;
    height: min-height;
    margin-bottom: 0px;
    /*vertical-align: bottom;*/
    /*background-color: #86bd38;*/
    white-space: normal;
    /*clear: both;*/
}

.postHeaderLabel {
    /*display: inline-block;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*line-height: 0px;*/
    /*width: 50px;*/
    /*height: 70px;*/
    float: left;
    /*vertical-align: bottom;*/
    /*text-align: right;*/
    font-size: 15px;
    /*background-color: #ddd;*/
}
.postTitleText {
    display: inline-block;
    line-height: 37px;
    width: 900px;
    height: min-height;
    /*float: left;*/
    margin-left: 10px;
    /*vertical-align: text-bottom;*/
    /*text-align: left;*/
    font-size: 30px;
    font-weight: bold;
    color: #444;
    /*background-color: #fadc39;*/
}

#postBody {
    /*display: table-cell;*/
    display: inline-block;
    position: relative;
    width: 1300px;
    height: min-height;
    margin-top: 0px;
    /*vertical-align: top;*/
    /*background-color: #86bd38;*/
    white-space: normal;
    /*clear: both;*/
}

/*.postBody p {*/
    /*position: absolute;*/
    /*top: 0;*/
/*}*/

.postBodyText {
    display: inline-block;
    /*display: block;*/
    line-height: 30px;
    width: 900px;
    height: min-height;
    /*float: left;*/
    margin-left: 10px;
    /*margin-bottom: 50px;*/
    /*padding-top: 0px;*/
    /*vertical-align: text-bottom;*/
    /*text-align: left;*/
    font-size: 16px;
    color: #000;
    /*background-color: #fadc39;*/
}


#addedComment{
    font-size: 15px;
    /*background-color: #aecd37;*/
}

/* Form */

#newCommentForm {
    margin: auto;
    margin-top: 30px;
    width: 800px;
    /*background-color: #b90ff0;*/
}

#addCommentTextField{
    margin: auto;
    width: 500px;
    /*background-color: #dedede;*/
}

#addCommentBtn{
    margin: auto;
    width: 200px;
    /*background-color: #09adef;*/
}

label.newCommentLabel {
    /*background-color: #aecd38;*/
    font-size: 13px;
    color: #444;
    padding-left: 10px;
}

textarea.newCommentTextField {
    width: 500px;
    height: 200px;
    margin-top: 7px;
}

input.submitBtn {
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
    background-color: #86bd38;
    border-style: solid;
    border-color: #F1F1F1;
    width: 200px;
    height: 40px;
}

input.submitBtn:hover{
    background-color: #9CBD00;
}